@using CognitiveSearch.Web.Configuration
@inject OrganizationConfig OrgConfig

<footer class="border-top footer text-muted fixed-bottom p-0 footer-bg footer-text">
    <div class="footer-content container-fluid">
        <div class="statement-area footer-text">
            @*&copy; @DateTime.Now.Year - @OrgConfig.Name*@
        </div>
        <div class="link-area">
           Privacy <a class="footer-link footer-text" href="https://www.enveraconsulting.com/terms-of-service/" target="_blank"> Privacy Terms of service</a>
        </div>
    </div>
</footer>